
# Python bytecode
*.pyc

# Weight files
bin/

# Sample image data
sample_img/*.jpg
!sample_img/sample_*.jpg
sample_img/out/*

# Annotated test results
results/

# Intermediate training data
backup/
tfnet/yolo/parse-history.txt
tfnet/yolo/*.parsed
*.txt
!requirements*.txt
*.pb
/profile
/test.py

# Built cython files
darkflow/cython_utils/*.pyd
darkflow/cython_utils/*.c

#egg-info
darkflow.egg-info/

#Other build stuff
build/

#TensorBoard logs
summary/

#Built graphs
built_graph/

#Training checkpoints
ckpt/

#pytest cache
.cache/

#cython make
darkflow/cython_utils/cy_yolo_findboxes.cpython-36m-x86_64-linux-gnu.so
darkflow/cython_utils/cy_yolo2_findboxes.cpython-36m-x86_64-linux-gnu.so
darkflow/cython_utils/nms.cpython-36m-x86_64-linux-gnu.so

#vscode
#.vscode/

#tf borad
out_graph/

#paper
paper/

#vedio
vedio/